.DS_Store
# Ignore backend artifacts
backend/glog-*
backend/glog
backend/glog.db*
backend/*.db.*
**/.DS_Store

# Build tools
build_tool
internal/.DS_Store
static/pagefind

# Go test artifacts
*.test
cpu.prof*
mem.prof*
*.log
# Ignore environment files
.env
**/.env
frontend/.vercel