{{ template "base.html" . }}

{{ define "title" }}Login{{ end }}

{{ define "content" }}
<div class="form-wrapper">
    <h2>请输入密码</h2>
    {{ if .error }}
    <p class="error">{{ range .error }}{{ . }}{{ end }}</p>
    {{ end }}
    <form action="/login" method="post">
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit" class="btn">Login</button>
    </form>
</div>
{{ end }}