{{ template "base.html" . }}

{{ define "title" }}登录{{ end }}

{{ define "content" }}
<div class="editor-container login-container">
    <form id="login-form" action="/login" method="post" class="editor-form app-form">
        <div class="form-group login-form-group">
            <input type="password" id="password" name="password" required autocomplete="current-password" placeholder="请输入密码" class="login-password-input">
            <button type="submit" id="login-btn" class="login-submit-btn">登录</button>
        </div>
    </form>
</div>
{{ end }}

{{ define "scripts" }}
<script src="/static/js/login.js"></script>
{{ end }}