{{ template "base.html" . }}

{{ define "title" }}{{ .post.Title }} - {{ if .site_title }}{{ .site_title }}{{ else }}Glog{{ end }}{{ end }}

{{ define "description" }}<meta name="description" content="{{ if .post.Excerpt }}{{ .post.Excerpt }}{{ else }}{{ .site_description }}{{ end }}">{{ end }}
{{ define "head" }}
    <link rel="stylesheet" href="/static/css/prism.css">
{{ end }}

{{ define "content" }}
    <article class="post">
        <header class="post-header">
            <h1>
                {{ .post.Title }}
                {{ if .post.IsPrivate }}
                    <span class="private-icon"></span>
                {{ end }}
            </h1>
            <div class="meta">
                <span>{{ .post.PublishedAt.Format "2006-01-02" }}</span>
                {{ if .IsLoggedIn }}
                <span class="edit-link" style="margin-left: 10px; gap: 5px";>
                |   <a href="/admin/editor?id={{ .post.ID }}" style="margin-left: 8px;">编辑此文章</a>
                </span>
                {{ end }}
            </div>
        </header>

        <div class="post-content">
            {{ .post.Body }}
        </div>
    </article>
{{ end }}

{{ define "scripts" }}
    <script src="/static/js/prism.js"></script>
{{ end }}